*.fa
*~
simple-genome-reads.ct
simple-genome-reads.fa.keep
simple-genome-reads.fa.keep.abundfilt
simple-genome-reads.fa.keep.abundfilt.keep
simple-genome-reads.graph
simple-genome-reads.mut
ecoli-mapped.fq.gz
ecoli-mapped.fq.gz.keep.gz
ecoli-patch-segments.fa
ecoli-patched.align.out
ecoli-patched.fa
ecoli.align.out
ecoli.dn.k21.kh
ecoli.dn.k21.kh.info
ecoliMG1655.fa
simple-genome-orig.fa
simple-genome-reads.ct
simple-genome-reads.fa
simple-genome-reads.fa.keep
simple-genome-reads.fa.keep.abundfilt
simple-genome-reads.fa.keep.abundfilt.keep
simple-genome-reads.graph
simple-genome-reads.mut
simple-genome.fa
